html, body{
    margin: 0;
    color: #333;
    font-family: Roboto, sans-serif;
}
.inner{
    width: 95%;
    max-width: 960px;
    margin: auto;
    /*overflow: hidden;*/
    display: block;
}
.inner:after{
    content: '';
    clear: both;
}
.topline{
    padding: 0 10px;
}
.topline:after{
    content: '';
    display: block;
    clear: both;
}
.topline .logo{
    display: block;
    float: left;
    width: 33.33%;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.topline .menu1{
    float: left;
    width: 33.33%;
    text-align: center;
}
